<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>send html data to node server</title>
    
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
       <div class="header">
          <h1>My website</h1>
          <ul>
            <a href="#">
                <li>About</li>
            </a>
             <a href="#">
                <li>About</li>
            </a>
             <a href="#">
                <li>product</li>
            </a>
             <a href="#">
                <li>Contact</li>
            </a>
            
          </ul>
        </div>
       <div class="body">
         <h1>Node js basic course</h1>
         <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea, consectetur. Reprehenderit iusto ullam quas dolor magnam alias nihil voluptatum quasi, eius, pariatur magni quod. Suscipit voluptates ut praesentium asperiores quod!</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos alias molestiae dolorem libero voluptatum repudiandae! Sed fugit, eius neque odit necessitatibus aperiam dolorem ullam repellendus labore quam, facere modi adipisci!</p>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum perspiciatis doloribus fugit provident officiis nesciunt soluta reprehenderit amet assumenda ratione aut quia ipsam tempora, aperiam odio! Accusantium a eius eaque.</p>
       </div>
       <div class="footer">
         <h2>&copy;2026| by surafel mengist</h2>
       </div>
    </div>
</body>
</html>